/* GENERAL */
body {
    font-family: "Roboto", arial, sans-serif;
}

.medium-button {
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 1.25em;
    background-color: white;
    color: black;
    margin: 10px;
}

.medium-button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
}

.icon-button:hover {
    background-color: #c2c0ca;
    transition: all 0.2s ease;
    transform: scale(1.25);
}

.center {
    margin: auto;
    height: fit-content;
    width: fit-content;
}

/* HEADER NAVBAR */

/* .navbar {
    position: sticky;
    display: flex;
    padding: 10px;
    border-bottom: 2px solid grey;
    justify-content:space-between;
    background-color: pink;
}

#navbar-logo {
    font-size: 2em;
}

.nav-links {
    display: flex;
    gap: 1em;
}

.nav-links li {
    list-style: none;
} */

a {
    text-decoration: none;
}

h2 {
    font-weight: 300;
    text-align: center;
}

p {
    position: relative;
}

a,
a:link,
a:visited,
a:active {
    color: #3ca9e2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
    color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.login-page {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
    background-color: #fff;
    width: 35%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.login-form {
    padding: 0 60px;
}

.input-field input {
    display: block;
    box-sizing: border-box;
    width: 80%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
}

input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    position: relative;
    display: inline-block;
    background: none;
}
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #3ca9e2;
}
input[type="email"]:focus:invalid,
input[type="password"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
}

input[type="submit"] {
    border: none;
    display: block;
    background-color: #3ca9e2;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
input[type="submit"]:hover {
    background-color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.create-account {
    background-color: #eeedf1;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}

.registration-page {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
    background-color: #fff;
    width: 35%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}

.registration-form {
    padding: 0 60px;
}

input[type="name"] {
    width: 80%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    position: relative;
    display: inline-block;
    background: none;
}
input[type="name"]:focus {
    border-color: #3ca9e2;
}
input[type="name"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
}

.sign-in {
    background-color: #eeedf1;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.navbar {
    border-bottom: 1px solid #ccc;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}
#navbar-logo {
    font-size: 1.5em;
    margin: 0.6em 0;
    display: inline-block;
}
.nav-links,
.nav-links li {
    margin: 0;
    padding: 0;
}
.nav-links li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

.navbar-account {
    border-right: 1px solid #ccc;
}

/* NOTE INDEX */
.empty-content-text {
    margin: 50px;
    font-size: 2.5em;
    text-align: center;
}

#notes-toolbar {
    padding: 10px;
}

#notes-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.short-note {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 300px;
    margin: 25px;
    position: relative;
    flex-shrink: 0;
}

.short-note-title-div {
    padding: 20px;
}

.note-title {
    font-size: 1.5em;
    font-weight: bold;
    word-wrap: break-word;
}

.note-content {
    font-size: 1.2em;
    word-wrap: break-word;
}

.empty-text {
   color:#8a8b8e; 
}

.short-note-content-div {
    padding: 20px;
}

.short-note-buttons {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    left: 130px;
}

/* NOTE EDIT */

.title-field {
    width: 95%;
    font-size: 2.5em;
    padding: 20px;
    border: transparent solid  0px;
}

.note-content-div {
    width: 95%;
}

.content-field {
    width: 100%;
    height: fit-content;
    padding: 20px;
    border: transparent solid  0px;
}

/* PROFILE */
#profile-div {
    width: 90%;
    margin: auto;
}

#profile-form-div {
    width: 600px;
    margin: auto;
}

.profile-table {
    margin: 50px;
}

.profile-table th {
    text-align: left;
    padding: 20px;
}

.profile-table td {
    padding: 20px;
}